<h1>EDITAR USUARIO</h1>

<form action="editarUsr" method="POST">
    Nombre completo: <input type="text" name="nombreCompleto" />
    <br>
    Correo: <input type="text" name="correo" />
    <br>
    Rol: 
    <select name="casino" >
             <% lroles.forEach(function(c) { %>
                <option value="<%= c.id %>"><%= c.nombreRol %></option>
            <% }) %>
    </select>

    <br><br>
    <input type="submit"  value="Aceptar" />
    <input type="button" value="Cancelar" onclick="history.back()" />
</form>