<h1>EDITAR USUARIO</h1>

<form action="editarUsr" method="POST">
    Nombre completo: <input type="text" name="nombreCompleto" value="<%- nombreCompleto %>"/>
    <br>
    Correo: <input type="text" name="correo" value="<%- correo %>"/>
    <br>
    Rol: 
    <select name="rolId">
        <%  for(var i=0; i < roles.length; i++) {%>
        <option name="RolId" value=<%= roles[i].id %>> <%= roles[i].Nombre %> </option>
        <% } %>
    </select>

    <br><br>
    <input type="submit"  value="Aceptar" />
    <input type="button" value="Cancelar" onclick="history.back()" />
</form>