<h1>PERFIL</h1>

<form action="/login/logout" method="GET" style="display:inline">
    <input type="submit" value="Cerrar sesion" />
</form>
<br>
<br>
<br>
<form action="torneos" style="display:inline">
    <input type="submit" value="Torneos" />
</form>
<br>
<br>
<% lusuarios.forEach(function(elem) { %>
    <form action="miperfil" method="POST">
        <input type="hidden" name="id" value="<%= elem.id %>" />
        <input type="submit" value="Mi Perfil" />
    </form>
    <br>
    <form action="miequipo" method="POST">
        <input type="hidden" name="id" value="<%= elem.id %>" />
        <input type="submit" value="Mi Equipo" />
    </form>
<% }) %>