
<h1>INICIAR SESION</h1>

<form  action="login" method="POST"> <!-- ac+a ya le estas ndicando el metodo y la ruta, ahora falta escribirla en el servidor-->
    Correo: <input type="text" name="correo" />
    <br>
    Contraseña: <input type="text" name="contrasenia" />
    <br><br>
    <input type="submit"  value="Iniciar sesion" />
    <input type="button" value="Cancelar" onclick="history.back()" />
    <br>
</form>
<form action="/login/registro" method = "GET">
    ¿No tienes una cuenta? <button type="submit">Registrarse</button>
</form>

