<h1>REGISTRARSE</h1>

<form  action="signup" method="POST">
    Nombres completos: <input type="text" name="nombreCompleto" />
    <br>
    Correo: <input type="text" name="correo" />
    <br>
    Contraseña: <input type="password" name="contrasenia" />
    <br>
    Rol:
    <select name="rol">
        <%  for(var i=0; i < lroles.length; i++) {%>
            <option value=<%= lroles[i].id %>>
                <%= lroles[i].nombreRol %>
            </option>
        <% } %>
    </select>
    <br><br>
    <input type="submit"  value="Registrarse" />
    <input type="button" value="Cancelar" onclick="history.back()" />
</form>